*{
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333333;
}
body{
    padding: 25px 0;
}
#main{
    text-align: center;
    background-color: #eeeeee;
    padding: 40px 10px;
    border-radius: 5px;
    margin: 5px auto;
    width: 100%;
}
#title{
    font-size: 3.5rem;
    margin: 10px 5px;
}
.description{
    margin: 20px 5px;
    font-size: 15px;
}
#img-div{
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 15px;
}
#img-div img{
    width: 80%;
    max-height: 700px;
    border-radius: 3px;
    margin: 0 15px;
    margin-bottom: -3px;
}
#img-caption{
    margin: 15px 0 5px 0;
}
#tribute-info{
    padding: 20px 50px;
    display: block;
}
#tribute-info li{
    margin: 25px;

    list-style-position: inside;
}
#tribute-info h2{
    font-size: 18px;
    margin: 50px 0;
}
.date{
    font-weight: bold;
}
#tribute-info ul{
    max-width: 600px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
.quote{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
}
#tribute-info h3{
    margin: 0 auto;
    justify-content: center;
}
.wikientry a{
    color: black;
}

